


{{> head}}
{{> nav}}
<div class="row" style="padding:20px;">
    <div class="col-8">
    <h1>paisaje</h1>
    <p>Un paisaje es un territorio o un lugar humanamente sentido; 
    también la representación del mismo. Según el paisajista francés Michel
    Linot (1997) el paisaje es una forma del espacio, fruto de la interacción 
    entre sociedad y naturaleza, y fuente de emoción. Para el geógrafo norteamericano 
    Denis Cosgrove (2002) el paisaje denota principalmente la geografía tal y como se percibe,
     se retrata, y se imagina. El Convenio Europeo del Paisaje (European Landscape Convention 
     o Convención de Florencia, Florencia 20.10.2000), generado en el seno del Consejo de 
     Europa, afirma que por paisaje se entenderá cualquier parte del territorio tal como
      la percibe la población, cuyo carácter sea el resultado de la acción y la interacción
       de factores naturales y/o humanos.1 </p>
    </div>
    <div class="col-4">
    <img src="asset/img/paisaje.jpg" class="img-thumbnail"/>
    </div>
</div>
{{> footer}}